* {
  margin: 0;
  padding: 0;
}

.member-image {
    max-width: 50px;
    max-height: 50px;
}

table {
  width: 100%;
  max-width: 100%;
  background-color: white;
  table-layout: fixed;
}

table, th, td {
  border:1px solid black;
}

td {
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-all;
  max-width: 25%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #c49fc4;
  background: linear-gradient(40deg,rgba(196, 159, 196, 1) 17%, rgba(49, 179, 212, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding: 5px;
}