* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #c49fc4;
    background: linear-gradient(40deg,rgba(196, 159, 196, 1) 17%, rgba(49, 179, 212, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    /* padding: 5px; */
}

label em {
    color: red
}

.form-step {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.form-step p {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.share-image {
    height: 50px;
}

#registration-form {
    background-color: white;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.error {
    color: red
}

#next-button, #prev-button, #submit-button{
    background: #c49fc4;
    background: linear-gradient(40deg,rgba(196, 159, 196, 1) 17%, rgba(49, 179, 212, 1) 100%);
    color: white;
    padding: 7px 10px;
    border: 0;
    border-radius: 10px;
}

#submit-button {
    background: #9fc4aa;
    background: linear-gradient(40deg,rgba(159, 196, 170, 1) 17%, rgba(49, 179, 212, 1) 100%);
}
